html, body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: VT323, sans-serif;
    background-color: #417ec1;
    color: white;
}

* {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 3rem;
}

.container {
    margin: 5rem 5rem;
}