#home {
    display: block;
    position: absolute;
    background-color: #417ec1;
    z-index: 1;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #417ec1;
    z-index: 2;
    animation: slidein .5s;
    height: 2rem;
    font-size: 1.5rem;
    border-bottom: solid 1px white;
}

.header>a {
    color: white;
    margin-right: 1rem;
    text-decoration: none;
}

.header-bye {
    animation: slideout .5s;
    transform: translateY(-10rem);
}

.up, svg a {
    position: fixed;
    right: 15px;
    top: 40px;
    z-index: 2;
    fill: white;
}

.up>a:hover {
    animation: bounce 1s infinite;
}


.up-enter {
    animation: slidein .5s;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.main > section {
    height: 75%;
    z-index: 3;
}

/* @media (hover:none) or (pointer: fine) or (p) {
    .header>a:hover {
        animation: bob .25s infinite;
    }
} */

@supports not (-webkit-touch-callout: none) {
    /* CSS for other than iOS devices */ 
    .header>a:hover {
        animation: bob .25s infinite;
    }
  }

@keyframes slidein {
    from {
        transform: translateY(-10rem);
    }

    to {
        transform: translateY(0);
    }
}


@keyframes slideout {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-10rem);
    }
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5rem);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes bob {
    from {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-.2rem);
    }

    to {
        transform: translateY(0);
    }
}

@media screen and (max-width: 768px) {
    .up {
        display: none;
    }
}